@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 320px) and (min-width: 0px) {
.galary_opt.faq.faqall {
  margin: 41px 74px 0;
}
.connect-faq {
  font-size: 10px;
}
.simple-daily-schedule-main {
  height: auto;
}
.simple-daily-schedule-right {
  width: 100%;
}
.wrapper{width:290px;}
h1 strong{font-size: 16px;}
article{font-size:12px;}
.logo {margin-left: 26%; width: 44%;}
.yoga_heading h2{font-size: 25px; line-height: 30px;}
.yoga_txt article{line-height: 24px;text-align: justify;}
.training li h4{font-size: 13px;width: 69%;}
.special_text {padding:15px 0 40px;}
.yoga_training h2{font-size: 23px; line-height: 33px; padding:0px;}
.yoga_training article{padding: 30px 0 35px;text-align: justify;}
.yoga_training ul li{margin: 0; width: 100%;}
.yoga_training ul li:nth-child(2) { margin:5% 0%;}
.aliance h2 {
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 10px;
}
.aliance h2 em{font-size: 20px;}
.yoga_retreat ul li article { min-height: 108px;}
.yoga_training ul li .more{min-height: auto;}
.foot_left{ margin: 0;width: 90%;}
.buy_now {margin-top: 29px;width: 34%;}
.recent_news{ margin: 5% 0 5% 0%; width: 90%;}
.follow_us {float: left;margin: 0 0 0 0;width: 90%;}
.copyright article{width:100%;}
.copyright img{top:-59px;width: 11.5%;right: 127px;}
.news_leter form .name_news { margin: 5px 0; padding: 5px; width: 96%;}
.news_leter form .subscr{padding:6px 20px;margin: 2% 25% 0 0;}
.navigation li{float: left; margin: 5px;}
.navigation li a{ font-size: 13px;}
.bnr_txt h1 {
  font-size: 16px;
  line-height: 20px;
}
.bnr_txt article{margin: 10px 0;font-size: 14px; line-height: 18px;}
.bnr_txt h2{margin:2px 0;font-size: 14px; line-height: 18px;}
.bnr_txt span{font-size: 13px;}
.training img{margin: 0 15px 0 0;width: 25%;}
.training li{ padding:16px 8px;}
.yoga_training ul li h5{font-size: 17px;}
.testi_right ul li .right_testim h4{font-size: 18px;}
.bnr_txt{width: 92%;margin: 0 auto;padding: 20px 12px;}
.header_bg{padding: 12px 0 60px;}
.upcoming_cource{width:100%;}
.special_offer { width: 100%; margin-top: 50px;}
.aliance{padding:5px 0;}
.testi_left{ width: 100%;margin-bottom: 50px;}
.testi_right{ width: 100%;}
.news_leter form {padding: 25px 0 0;}
.foot_left .logo{margin-left:0px;}
.recent_news ul li img{width: 24%;}
.social_f ul li{ margin-right:8px; width: 13%;}
.social_f img{ width: 100%;}
.footer h4{font-size: 18px;}
.test_video{}
.bnr_txt > img{width:20%;}
.navigation{padding: 8px 0;}
.sech_date{width:50%;}.training .more_info {
  font-size: 10px;
  width:35px;padding:7px 5px;
}.newdiv {
  width: 100% !important;
}
.yoga_retreat.yoga_training h3 {
  font-size: 20px;
  line-height: 25px;
}
.training li h5 {
  font-size: 10px;
  margin: 2px 0 0;
}
.aliance h2 {
  width: 100%;
}
.footer{padding: 47px 0 35px;}
.yoga_heading{width: 100%;}
.yoga_txt{width: 100%;margin-top: 20px;}
.sech_date h4{width: 100% !important;}
.sech_date article{width: 100% !important;}
.dt_crs{width: 69%;}
.training article{ font-size:12px;}
.more_info{font-size: 10px;margin-top: 10px; }
.yoga_training{padding: 30px 0;}
.news_leter h1 strong{font-size: 9px;}
.payment article{text-align:justify;}
.iner_title h2{font-size: 25px;padding: 10px 0;}
.test_writ{font-size: 12px;
    padding:3px 0 3px 7px;
    width: 98%;}
.test_video_btn{font-size: 12px;
     padding:3px 0 3px 7px;
    width:98%;}
.galary ul li{margin-right: 0px;margin-bottom: 15px; width:100%;}
.galary_opt ul li{margin-right: 10px;width: 93%; margin-bottom: 10px;}
/*About Us*/
.about_us_page h5{font-size: 16px;line-height: 25px;}
.about_us_right article{text-align: justify;padding: 15px 0 0;}
.our_location article{ margin-bottom: 15px; text-align: justify; width: 100%;}
.about_us_left ul li{ width: 45%;margin: 7px;}
.about_us_right{width: 100%;margin-top: 30px;}
.our_mission article { padding: 0 17px 15px; text-align: justify;}
.our_faculty article{text-align: justify;}
.our_faculty ul li{ margin-bottom: 15px; width: 100%;}
.our_mission h5{padding: 10px 0 10px 13px;}
.our_location h5{padding: 10px 0 10px 13px;}
.our_faculty ul li article{padding-top: 5px;text-align: center;font-size: 14px;}
.our_faculty ul li h4{font-size: 17px;padding: 8px 0;}
.about_us_left{width:100%;margin-top: 30px;}
.our_location img{width:100%;}
.cource_detail .corse_c article{font-size: 12px;}
.curriculum h4{font-size: 17px; padding: 18px 0;line-height: 20px;}
.cource_detail .corse_c{padding: 12px 0 12px 12px;}
.cource_detail .topic_c{width: 67%;padding: 9px;}
.cource_detail .topic_c ul li{ width: 98%; font-size: 12px;}
.topic_c{padding-left: 10px;}
.corse_c{padding-left: 8px; width: 21%;}
.cource_head strong{font-size: 15px;line-height: 25px;}
/*testimonials*/
.test_cont_left{width: 15.5%;}
.test_cont_right{width:74%;padding: 15px;}
.test_cont_right h5{font-size: 15px; line-height: 20px;}
.test_cont_right article{font-size: 13px; line-height: 19px; text-align: justify;}
.test_cont_right article span{font-size: 13px;}
.test_cont_right .left_arow {left: -15px;}
.test_cont_right_2nd .right_arow{right: -15px;}
.test_cont {margin-top: 30px;}
/*200 HourYogaTeacherTraining*/
.header_yoga_right h3{font-size: 8px; line-height: 15px; padding-bottom:0px;}
.header_yoga_right article{font-size: 10px;}
.header_yoga_right article strong{ font-size: 10px;}
.header_yoga_left em{font-size:14px; line-height: 25px;}
span.discountdiv {
  font-size: 12px;
}
.header_yoga_left article{ font-size: 15px;padding: 0;}
.header_yoga_left{margin-left: 0%;width: 100%;margin-bottom:0px;}
.header_yoga_right .nav_btn{ font-size: 16px; padding: 5px 15px;}
.nav_yoga ul li{font-size: 13px; padding: 15px 10px;}
.save_yoga{ width: 10%;}
.yoga_baner_left{width:100%;}
.yoga_baner_right img{ width:100%;}
.yoga_contain h2{ font-size: 18px; line-height: 23px;}
.yoga_contain h3{  font-size: 16px;}
.sunday_ex ul li{width:100%;}
.sunday_ex ul li:nth-child(2) {margin:20px 0;}
.upcoming_dates article{line-height: 15px; padding: 7px 0;font-size: 13px;}
.header_yoga_right span{font-size: 18px; line-height: 20px;}
.header_yoga_right article {
  font-size: 10px;
  line-height: 14px;
}
.curriculum-button strong{font-size:10px;}
.header_yoga_right em{font-size: 18px;}
.yoga_baner_right{ height:auto; overflow: scroll;width: 94%; padding: 5px 8px;}
.yoga_baner_right article{ line-height: 24px; padding-top: 0;}
.yoga_baner_right .more_info{margin: 15px 0;}
.schedule_text article{ font-size: 12px;}
.time_table_right{ left: 65px;position: absolute;right: 0;top: 382px;}
.time_table_right > img {width:75%;}
.wednes_day .time_table .time_table_right{left: 63px;position: absolute;top: 448px; }
.wednes_day .time_table .time_table_right img{ width:62%;}
.months_right{ width: 49%;}
.schedule_text{ width:100%;padding: 3px 9px;}
.header_yoga_right{  width:100%;margin-bottom: 12px;}
.schedule_text h4{font-size: 15px;}
.high_light ul li{margin-top: 10px; font-size: 13px;}
.students .high_light article{font-size: 13px;}
.sunday_ex article{ text-align: justify;}
.yoga_certified article{ text-align: justify;}
.high_light{width: 100%;}
.high_light_right{width: 100%;}
.yoga_contain h1 strong{font-size: 15px;}
.time_table{width: 91%;padding: 10px 7px;margin-bottom: 185px;border: 5px solid #f38433;}
.time_table ul li span{font-size: 12px;}
.wednes_day .time_table{ width:100%;}
.wednes_day .schedule_text article{padding: 11px 0 10px 25px;}
.wednes_day .schedule_text{padding: 2px 0 2px 17px;}
.fee_schedule .row_1st td{width: 27.5%;font-size: 12px;padding: 5px !important;  line-height: 15px;}
.fee_schedule .row_2st td{width:27.5%;font-size: 12px;padding: 5px !important;  line-height: 15px;}
.fee_schedule h4{ font-size: 17px;padding: 20px 0 15px;}
.sample_sch h4 {font-size: 21px; padding: 30px 0 20px;}
.retr_rishi article{ text-align: justify;}
.retr_rishi h2{font-size: 17px;}
.blog_left{width: 100%;}
.blog_right{width: 100%;}
.galary img {
  margin: 3% 0;
  width: 100%;
}
.form-left {
  margin: 0;
  width: 100%;
}
.form-right {
  width: 100%;
}
.applynow input {
  width: 95.6%;
}
select.phcode {
  width: 26%;
}
input.phnumber {
  width: 69%;
}
.written-test-div iframe{width:100%;
}
.our_faculty ul.stafflist li {
  margin-right: 0;
  width: 100%;
}
h5.headingcustom strong {
  font-size: 8px;
  padding: 10px 5px;
}
.yoga_baner .wrapper {
  height: auto;
}
#second1 iframe {
  width: 100%;
}
.ladakh_img1 > img {
  width: 97%;
}
.fee_schedule.fee_schedule1 table {
  width: 100%;
}
.entry-content ul li .input_ch{width: 100%;}
.entry-content ul li .add_ch .add_left{width: 100%;}
.entry-content ul li .add_ch .add_right{width: 100%;}
.entry-content h2{ font-size: 20px;}
.news_leter h5.headingcustom strong { font-size: 9px;}
.iner_title h1 {padding: 10px 0;font-size: 25px;}
.galary_opt .test_video_btn {
    font-size: 15px;
    padding: 8px 12px;
}


.fee_schedule.fee_schedule1 > ul {
  width: 100%;
}
.yoga_training .click-here-div > a {
  font-size: 10px;
}
.click-here-div > a {
  padding: 8px 2px;font-size: 10px;
}

.simple-daily-schedule {
  width: 98%;
}
.yoga_training .simple-daily-schedule li {
  width: 81.2%;
}

.simple-daily-schedule-main {
}
.simple-daily-schedule-right {
  padding: 62px 0;
}

.sunday-listing.sunday-listing1 > li {
  width: 96%;
}

.sunday-listing > li {
  width: 100%;
}
.testimonials-inner {
  margin: 20px 0;
}

.testimonials-inner-right {
  padding: 20px 14px 20px 81px;
}
}

@media only screen and (max-width: 375px) and (min-width: 321px){
.galary_opt.faq.faqall {
  margin: 41px 74px 0;
}
.connect-faq {
  font-size: 10px;
}
.wrapper{width:290px;}
h1 strong{font-size: 16px;}
article{font-size:12px;}
.logo {margin-left: 26%; width: 44%;}
.yoga_heading h2{font-size: 25px; line-height: 30px;}
.yoga_txt article{line-height: 24px;text-align: justify;}
.training li h4{font-size: 13px;width: 69%;}
.special_text {padding:15px 0 40px;}
.yoga_training h2{font-size: 23px; line-height: 33px; padding:0px;}
.yoga_training article{padding: 30px 0 35px;text-align: justify;}
.yoga_training ul li{margin: 0; width: 100%;}
.yoga_training ul li:nth-child(2) { margin:5% 0%;}
.aliance h2 {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
}
.aliance h2 em{font-size: 16px;}
.yoga_retreat ul li article { min-height: 108px;}
.yoga_training ul li .more{min-height: auto;}
.foot_left{ margin: 0;width: 90%;}
.buy_now {margin-top: 29px;width: 34%;}
.recent_news{ margin: 5% 0 5% 0%; width: 90%;}
.follow_us {float: left;margin: 0 0 0 0;width: 90%;}
.copyright article{width:100%;}
.copyright img{top:-59px;width: 11.5%;right: 127px;}
.news_leter form .name_news { margin: 5px 0; padding: 5px; width: 96%;}
.news_leter form .subscr{padding:6px 20px;margin: 2% 25% 0 0;}
.navigation li{float: left; margin: 5px;}
.navigation li a{ font-size: 13px;}
.bnr_txt h1 {
  font-size: 14px;
  line-height: 20px;
}
.bnr_txt article{margin: 10px 0;font-size: 14px; line-height: 18px;}
.bnr_txt h2{margin: 10px 0;font-size: 14px; line-height: 18px;}
.bnr_txt span{font-size: 13px;}
.training img{margin: 0 15px 0 0;width: 25%;}
.training li{ padding:16px 8px;}
.training .more_info {
  font-size: 10px;
  padding: 7px 5px;
  width: 35px;
}
.yoga_training ul li h5{font-size: 17px;}
.testi_right ul li .right_testim h4{font-size: 18px;}
.bnr_txt{width: 92%;margin: 0 auto;padding: 20px 12px;}
.header_bg{padding: 12px 0 60px;}
.upcoming_cource{width:100%;}
.special_offer { width: 100%; margin-top: 50px;}
.aliance{padding:5px 0 5px;}
.testi_left{ width: 100%;margin-bottom: 50px;}
.testi_right{ width: 100%;}
.news_leter form {padding: 25px 0 0;}
.foot_left .logo{margin-left:0px;}
.recent_news ul li img{width: 24%;}
.social_f ul li{ margin-right:8px; width: 13%;}
.social_f img{ width: 100%;}
.footer h4{font-size: 18px;}
.test_video{}
.bnr_txt > img{width:20%;}
.navigation{padding: 8px 0;}
.sech_date{width:50%;}
.training li h5 {
  font-size: 12px;
  margin: 2px 0 0;
}
.footer{padding: 47px 0 35px;}
.yoga_heading{width: 100%;}
.yoga_txt{width: 100%;margin-top: 20px;}
.sech_date h4{width: 100% !important;}
.sech_date article{width: 100% !important;}
.dt_crs{width: 69%;}
.training article{ font-size:12px;}
.more_info{font-size: 10px;margin-top: 10px; }
.yoga_training{padding: 30px 0;}
.news_leter h1 strong{font-size: 9px;}
.payment article{text-align:justify;}
.iner_title h2{font-size: 25px;padding: 10px 0;}
.test_writ{font-size: 12px; padding:3px 0 3px 7px; width: 98%;}
.test_video_btn{font-size: 12px; padding:3px 0 3px 7px; width:98%;}
.galary ul li{margin-right: 0px;margin-bottom: 15px; width:100%;}
.galary_opt ul li{margin-right: 10px;width: 93%; margin-bottom: 10px;}
/*About Us*/
.about_us_page h5{font-size: 16px;line-height: 25px;}
.about_us_right article{text-align: justify;padding: 15px 0 0;}
.our_location article{ margin-bottom: 15px; text-align: justify; width: 100%;}
.about_us_left ul li{ width: 45%;margin: 7px;}
.about_us_right{width: 100%;margin-top: 30px;}
.our_mission article { padding: 0 17px 15px; text-align: justify;}
.our_faculty article{text-align: justify;}
.our_faculty ul li{ margin-bottom: 15px; width: 100%;}
.our_mission h5{padding: 10px 0 10px 13px;}
.our_location h5{padding: 10px 0 10px 13px;}
.our_faculty ul li article{padding-top: 5px;text-align: center;font-size: 14px;}
.our_faculty ul li h4{font-size: 17px;padding: 8px 0;}
.about_us_left{width:100%;margin-top: 30px;}
.our_location img{width:100%;}
.cource_detail .corse_c article{font-size: 12px;}
.curriculum h4{font-size: 17px; padding: 18px 0;line-height: 20px;}
.cource_detail .corse_c{padding: 12px 0 12px 12px;}
.cource_detail .topic_c{width: 67%;padding: 9px;}
.cource_detail .topic_c ul li{ width: 98%; font-size: 12px;}
.topic_c{padding-left: 10px;}
.corse_c{padding-left: 8px; width: 21%;}
.cource_head strong{font-size: 15px;line-height: 25px;}
/*testimonials*/
.test_cont_left{width: 15.5%;}
.test_cont_right{width:74%;padding: 15px;}
.test_cont_right h5{font-size: 15px; line-height: 20px;}
.test_cont_right article{font-size: 13px; line-height: 19px; text-align: justify;}
.test_cont_right article span{font-size: 13px;}
.test_cont_right .left_arow {left: -15px;}
.test_cont_right_2nd .right_arow{right: -15px;}
.test_cont {margin-top: 30px;}
/*200 HourYogaTeacherTraining*/
.header_yoga_right h3{font-size:8px; line-height:8px; padding-bottom: 0px;}
.header_yoga_right article{font-size: 14px;}
.header_yoga_right article strong{ font-size: 8px;}
.header_yoga_left em{font-size: 25px; line-height: 25px;}
.header_yoga_left article{ font-size: 12px;padding: 0;}
.header_yoga_left{margin-left: 0%;width: 100%;margin-bottom: 12px; margin-bottom:0px; margin-top:0px;}
.header_yoga_right .nav_btn{ font-size: 16px; padding: 5px 15px;}
.main_h{max-height:126px;}
.nav_yoga ul li{font-size: 13px; padding: 15px 10px;}
.save_yoga{ width: 10%;}
.yoga_baner_left{width:100%;}
.yoga_baner_right img{ width:100%;}
.yoga_contain h2{ font-size: 18px; line-height: 23px;}
.yoga_contain h3{  font-size: 16px;}
.sunday_ex ul li{width:100%;}
.sunday_ex ul li:nth-child(2) {margin:20px 0;}
.upcoming_dates article{line-height: 15px; padding: 7px 0;font-size: 13px;}
.header_yoga_right span{font-size: 18px; line-height: 20px;}
.header_yoga_right article{ font-size:8px; line-height:12px;}
.header_yoga_right em{font-size: 18px;}
.yoga_baner_right{ height:auto; overflow: scroll;width: 94%; padding: 5px 8px;}
.yoga_baner_right article{ line-height: 24px; padding-top: 0;}
.yoga_baner_right .more_info{margin: 15px 0;}
.schedule_text article{ font-size: 12px;}
.time_table_right{ left: 65px;position: absolute;right: 0;top: 382px;}
.time_table_right > img {width:75%;}
.wednes_day .time_table .time_table_right{left: 63px;position: absolute;top: 448px; }
.wednes_day .time_table .time_table_right img{ width:62%;}
.months_right{ width: 49%;}
.schedule_text{ width:100%;padding: 3px 9px;}
.header_yoga_right{  width:100%;margin-bottom: 12px;}
.schedule_text h4{font-size: 15px;}
.high_light ul li{margin-top: 10px; font-size: 13px;}
.students .high_light article{font-size: 13px;}
.sunday_ex article{ text-align: justify;}
.yoga_certified article{ text-align: justify;}
.high_light{width: 100%;}
.high_light_right{width: 100%;}
.yoga_contain h1 strong{font-size: 15px;}
.time_table{width: 91%;padding: 10px 7px;margin-bottom: 185px;border: 5px solid #f38433;}
.time_table ul li span{font-size: 12px;}
.wednes_day .time_table{ width:100%;}
.wednes_day .schedule_text article{padding: 11px 0 10px 25px;}
.wednes_day .schedule_text{padding: 2px 0 2px 17px;}
.fee_schedule .row_1st td{width: 27.5%;font-size: 12px;padding: 5px !important;  line-height: 15px;}
.fee_schedule .row_2st td{width:27.5%;font-size: 12px;padding: 5px !important;  line-height: 15px;}
.fee_schedule h4{ font-size: 17px;padding: 20px 0 15px;}
.sample_sch h4 {font-size: 21px; padding: 30px 0 20px;}
.retr_rishi article{ text-align: justify;}
.retr_rishi h2{font-size: 17px;}
.blog_left{width: 100%;}
.blog_right{width: 100%;}

.galary img {
  margin: 3% 0;
  width: 100%;
}
.form-left {
  margin: 0;
  width: 100%;
}
.form-right {
  width: 100%;
}
.applynow input {
  width: 95.6%;
}
select.phcode {
  width: 26%;
}
input.phnumber {
  width: 69%;
}
.written-test-div iframe{width:100%;
}
.our_faculty ul.stafflist li {
  margin-right: 0;
  width: 100%;
}
h5.headingcustom strong {
  font-size: 8px;
  padding: 10px 8px;
}
.newtextdiv{font-size:20px;}

.yoga_retreat.yoga_training h3 {
  font-size: 25px;
  line-height: 35px;
}
.yoga_baner .wrapper {
  height: auto;
}
#second1 iframe {
  width: 100%;
}
.ladakh_img1 > img {
  width: 97%;
}
.fee_schedule.fee_schedule1 table {
  width: 100%;
}
.entry-content ul li .input_ch{width: 100%;}
.entry-content ul li .add_ch .add_left{width: 100%;}
.entry-content ul li .add_ch .add_right{width: 100%;}
.entry-content h2{ font-size: 20px;}
.news_leter h5.headingcustom strong { font-size: 9px;}
.iner_title h1 {padding: 10px 0;
  font-size: 25px;
}
.galary_opt .test_video_btn {
    font-size: 15px;
    padding: 8px 12px;
}

.videoframe
{
width:100%;
height:auto;
min-height:200px;
max-height:260px;
overflow:hidden;
}
.white_content {
        top: 5%;
        left: 5%;
        width:80%;
}
.curriculum-button strong{font-size:12px;}
.fee_schedule.fee_schedule1 > ul {
  width: 100%;
}
.yoga_training .click-here-div > a {
  font-size: 10px;
}
.click-here-div > a {
  padding: 8px 2px;font-size: 10px;
}

.simple-daily-schedule {
  width: 98%;
}
.yoga_training .simple-daily-schedule li {
  width: 81.2%;
}

.simple-daily-schedule-main {
}
.simple-daily-schedule-right {
  padding: 62px 0;
}

.sunday-listing.sunday-listing1 > li {
  width: 96%;
}

.sunday-listing > li {
  width: 100%;
}
.testimonials-inner {
  margin: 20px 0;
}

.testimonials-inner-right {
  padding: 20px 14px 20px 81px;
}
}

@media only screen and (max-width: 480px) and (min-width: 376px){
.galary_opt.faq.faqall {
  margin: 41px 74px 0;
}
.connect-faq {
  font-size: 10px;
}
.wrapper{width:320px;}
h1 strong{font-size: 16px;}
article{font-size:12px;}
.logo {margin-left: 26%; width: 44%;}
.yoga_heading h2{font-size: 25px; line-height: 30px;}
.yoga_txt article{line-height: 24px;text-align: justify;}
.training li h4{font-size: 13px;width: 69%;}
.special_text {padding:15px 0 40px;}
.yoga_training h2{font-size: 23px; line-height: 33px; padding:0px;}
.yoga_training article{padding: 30px 0 35px;text-align: justify;}
.yoga_training ul li{margin: 0; width: 100%;}
.yoga_training ul li:nth-child(2) { margin:5% 0%;}
.aliance h2{ font-size: 23px;line-height: 25px;padding-bottom:15px;}
.aliance h2 em{font-size: 20px;}
.yoga_retreat ul li article { min-height: 108px;}
.yoga_training ul li .more{min-height: auto;}
.foot_left{ margin: 0;width: 90%;}
.buy_now {margin-top: 29px;width: 34%;}
.recent_news{ margin: 5% 0 5% 0%; width: 90%;}
.follow_us {float: left;margin: 0 0 0 0;width: 90%;}
.copyright article{width:100%;}
.copyright img{top:-59px;width: 11.5%;right: 127px;}
.news_leter form .name_news { margin: 5px 0; padding: 5px; width: 96%;}
.news_leter form .subscr{padding:6px 20px;margin: 2% 25% 0 0;}
.navigation li{float: left; margin: 5px;}
.navigation li a{ font-size: 13px;}
.bnr_txt h1 {
  font-size: 15px;
  line-height: 22px;
}
.yoga_retreat.yoga_training h3 {
  font-size: 26px;
  line-height: 33px;
}
.bnr_txt article{margin: 10px 0;font-size: 14px; line-height: 18px;}
.bnr_txt h2{margin: 10px 0;font-size: 14px; line-height: 18px;}
.bnr_txt span{font-size: 13px;}
.training img{margin: 0 15px 0 0;width: 25%;}
.training li{ padding:16px 9px;}
.training .more_info {
  font-size: 10px;
  padding: 7px 5px;
  width: 35px;
}
.yoga_training ul li h5{font-size: 17px;}
.testi_right ul li .right_testim h4{font-size: 18px;}
.bnr_txt{width: 92%;margin: 0 auto;padding: 20px 12px;}
.header_bg{padding: 12px 0 60px;}
.upcoming_cource{width:100%;}
.special_offer { width: 100%; margin-top: 50px;}
.aliance{padding: 20px 0 25px;}
.testi_left{ width: 100%;margin-bottom: 50px;}
.testi_right{ width: 100%;}
.news_leter form {padding: 25px 0 0;}
.foot_left .logo{margin-left:0px;}
.recent_news ul li img{width: 24%;}
.social_f ul li{ margin-right: 14px; width: 13%;}
.social_f img{ width: 100%;}
.footer h4{font-size: 18px;}
.test_video{ }
.bnr_txt > img{width:20%;}
.navigation{padding: 8px 0;}
.sech_date{width:54%;}
.aliance h2 {
  width: 100%;
}
.footer{padding: 47px 0 35px;}
.yoga_heading{width: 100%;}
.yoga_txt{width: 100%;margin-top: 20px;}
.sech_date h4{width: 100% !important;}
.sech_date article{width: 100% !important;}
.dt_crs{width: 69%;}
.training article{ font-size:12px;}
.more_info{font-size: 10px;margin-top: 10px; }
.yoga_training{padding: 30px 0;}
.news_leter h1 strong{font-size: 9px;}
.payment article{text-align:justify;}
.iner_title h2{font-size: 25px;padding: 10px 0;}
.test_writ{font-size: 12px;
    padding:3px 0 3px 7px;
    width: 98%;}
.test_video_btn{font-size: 12px;
     padding:3px 0 3px 7px;
    width:98%;}
.galary ul li{margin-right: 0px;margin-bottom: 15px; width:100%;}
.galary_opt ul li{margin-right: 10px;width: 94%; margin-bottom: 10px;}
/*About Us*/
.about_us_page h5{font-size: 16px;line-height: 25px;}
.about_us_right article{text-align: justify;padding: 15px 0 0;}
.our_location article{ margin-bottom: 15px; text-align: justify; width: 100%;}
.about_us_left ul li{ width: 45%;margin: 7px;}
.about_us_right{width: 100%;margin-top: 30px;}
.our_mission article { padding: 0 17px 15px; text-align: justify;}
.our_faculty article{text-align: justify;}
.our_faculty ul li{ margin-bottom: 15px; width: 100%;}
.our_mission h5{padding: 10px 0 10px 13px;}
.our_location h5{padding: 10px 0 10px 13px;}
.our_faculty ul li article{padding-top: 5px;text-align: center;font-size: 14px;}
.our_faculty ul li h4{font-size: 17px;padding: 8px 0;}
.about_us_left{width:100%;margin-top: 30px;}
.our_location img{width:100%;}
.cource_detail .corse_c article{font-size: 12px;}
.curriculum h4{font-size: 17px; padding: 18px 0;line-height: 20px;}
.cource_detail .corse_c{padding: 12px 0 12px 12px;}
.cource_detail .topic_c{width: 67%;padding: 9px;}
.cource_detail .topic_c ul li{ width: 98%; font-size: 12px;}
.topic_c{padding-left: 10px;}
.corse_c{padding-left: 8px; width: 21%;}
.cource_head strong{font-size: 15px;line-height: 25px;}
/*testimonials*/
.test_cont_left{width: 15.5%;}
.test_cont_right{width:74%;padding: 15px;}
.test_cont_right h5{font-size: 15px; line-height: 20px;}
.test_cont_right article{font-size: 13px; line-height: 19px; text-align: justify;}
.test_cont_right article span{font-size: 13px;}
.test_cont_right .left_arow {left: -15px;}
.test_cont_right_2nd .right_arow{right: -15px;}
.test_cont {margin-top: 30px;}
/*200 HourYogaTeacherTraining*/
.header_yoga_right h3{font-size:8px; line-height: 15px; padding-bottom:0px;}
.header_yoga_right article{font-size: 14px;}
.header_yoga_right article strong{ font-size: 10px;}
.header_yoga_left em{font-size: 18px; line-height: 25px;}
.header_yoga_left article{ font-size: 12px;padding: 0;}
.header_yoga_left{margin-left: 0%;width: 100%;margin-bottom:0px;}
.header_yoga_right .nav_btn{ font-size: 16px; padding: 5px 15px;}
.nav_yoga ul li{font-size: 13px; padding:8px 10px;}
.save_yoga{ width: 10%;}
.yoga_baner_left{width:100%;}
.yoga_baner_right img{ width:100%;}
.yoga_contain h2{ font-size: 18px; line-height: 23px;}
.yoga_contain h3{  font-size: 16px;}
.sunday_ex ul li{width:100%;}
.sunday_ex ul li:nth-child(2) {margin:20px 0;}
.upcoming_dates article{line-height: 15px; padding: 7px 0;font-size: 13px;}
.header_yoga_right span{font-size: 18px; line-height: 20px;}
.header_yoga_right article {
  font-size: 8px;
  line-height: 14px;
}
.header_yoga_right em{font-size: 18px;}
.yoga_baner_right{ height:auto; overflow: scroll;width: 94%; padding: 5px 8px;}
.yoga_baner_right article{ line-height: 24px; padding-top: 0;}
.yoga_baner_right .more_info{margin: 15px 0;}
.schedule_text article{ font-size: 12px;}
.time_table_right{ left: 65px;position: absolute;right: 0;top: 382px;}
.time_table_right > img {width:75%;}
.wednes_day .time_table .time_table_right{left: 77px;position: absolute;top: 400px; }
.wednes_day .time_table .time_table_right img{ width:62%;}
.months_right{ width: 49%;}
.schedule_text{ width: 88%;padding: 3px 9px;}
.header_yoga_right{  width:100%;margin-bottom: 2px;}
.schedule_text h4{font-size: 15px;}
.high_light ul li{margin-top: 10px; font-size: 13px;}
.students .high_light article{font-size: 13px;}
.sunday_ex article{ text-align: justify;}
.yoga_certified article{ text-align: justify;}
.high_light{width: 100%;}
.high_light_right{width: 100%;}
.yoga_contain h1 strong{font-size: 15px;}
.time_table{width: 91%;padding: 10px 7px;margin-bottom: 185px;border: 5px solid #f38433;}
.time_table ul li span{font-size: 12px;}
.wednes_day .time_table{ width: 88%;}
.wednes_day .schedule_text article{padding: 11px 0 10px 25px;}
.wednes_day .schedule_text{padding: 2px 0 2px 17px;}
.fee_schedule .row_1st td{width: 27.5%;font-size: 12px;padding: 5px !important;  line-height: 15px;}
.fee_schedule .row_2st td{width:27.5%;font-size: 12px;padding: 5px !important;  line-height: 15px;}
.fee_schedule h4{ font-size: 17px;padding: 20px 0 15px;}
.sample_sch h4 {font-size: 21px; padding: 30px 0 20px;}
.retr_rishi article{ text-align: justify;}
.retr_rishi h2{font-size: 17px;}
.blog_left{width: 100%;}
.blog_right{width: 100%;}
.galary img {
  margin: 3% 0;
  width: 100%;
}
.form-left {
  margin: 0;
  width: 100%;
}
.form-right {
  width: 100%;
}
.applynow input {
  width: 95.6%;
}
select.phcode {
  width: 26%;
}
input.phnumber {
  width: 69%;
}
.written-test-div iframe{width:100%;
}
.our_faculty ul.stafflist li {
  margin-right: 0;
  width: 100%;
}
h5.headingcustom strong {
font-size: 10px;
}
.yoga_baner .wrapper {
  height: auto;
}
#second1 iframe {
  width: 100%;
}
.ladakh_img1 > img {
  width: 97%;
}
.fee_schedule.fee_schedule1 table {
  width: 100%;
}
.entry-content ul li .input_ch{width: 100%;}
.entry-content ul li .add_ch .add_left{width: 100%;}
.entry-content ul li .add_ch .add_right{width: 100%;}
.entry-content h2{ font-size: 20px;}
.news_leter h5.headingcustom strong { font-size:10px;}
.iner_title h1 {padding: 10px 0;
  font-size: 25px;
}

.fee_schedule.fee_schedule1 > ul {
  width: 100%;
}
.yoga_training .click-here-div > a {
  font-size: 10px;
}
.click-here-div > a {
  padding: 8px 2px;font-size: 10px;
}

.simple-daily-schedule {
  width: 98%;
}
.yoga_training .simple-daily-schedule li {
  width: 81.2%;
}

.simple-daily-schedule-main {
}
.simple-daily-schedule-right {
  padding: 62px 0;
}

.sunday-listing.sunday-listing1 > li {
  width: 96%;
}

.sunday-listing > li {
  width: 100%;
}
.testimonials-inner {
  margin: 20px 0;
}

.testimonials-inner-right {
  padding: 20px 14px 20px 81px;
}

}

@media only screen and (max-width: 600px) and (min-width: 481px){ 

.wrapper{width:480px;}
h1 strong{font-size: 16px;}
article{font-size:13px;}
.logo {  margin-bottom: 10px; margin-left: 41%; width: 19.2%;}
.yoga_heading h2{font-size: 25px; line-height: 30px;}
.yoga_txt article{line-height: 24px;text-align: justify;}
.training li h4{font-size: 17px;}
.special_text {padding:15px 0 40px;}
.yoga_training h2{font-size: 27px; line-height: 38px; padding:0px;}
.yoga_training article{padding: 30px 0 35px;}
.yoga_training ul li{width:60%;  margin: 0 19%;}
.yoga_training ul li:nth-child(2) { margin:5% 19%;}
.aliance h2{ font-size: 35px;line-height: 35px;padding-bottom: 51px;}
.aliance h2 em{font-size: 25px;}
.yoga_retreat ul li article { min-height: 108px;}
.yoga_training ul li .more{min-height: auto;}
.foot_left{ margin: 0 0 0 23%; width: 74%;}
.buy_now {margin-top: 29px;width: 34%;}
.recent_news{ margin: 5% 0 5% 23%; width: 59%;}
.follow_us {float: left;margin: 0 0 0 23%;width: 59%;}
.copyright article{width:80%;}
.copyright img{top: -68px;width: 11.5%;right: 178px;}
.news_leter form .name_news{ padding: 5px;  width: 33%; margin-right: 8px;}
.news_leter form .subscr{padding:6px 20px;}
.navigation li{float: left; margin: 5px;}
.navigation li a{ font-size: 13px;}
.bnr_txt h1{ font-size: 19px;}
.bnr_txt article{margin: 10px 0;font-size: 14px; line-height: 18px;}
.bnr_txt h2{margin: 10px 0;font-size: 14px; line-height: 18px;}
.bnr_txt span{font-size: 13px;}
.training img{margin: 0 15px 0 0;}
.training li{ padding: 16px 0;}
.yoga_training ul li h5{font-size: 17px;}
.testi_right ul li .right_testim h4{font-size: 18px;}
.bnr_txt{width: 92%;margin: 0 auto;}
.header_bg{padding: 12px 0 60px;}
.upcoming_cource{width:100%;}
.special_offer { width: 100%; margin-top: 50px;}
.aliance{padding: 20px 0 25px;}
.testi_left{ width: 100%;margin-bottom: 50px;}
.testi_right{ width: 100%;}
.news_leter form {padding: 53px 0 0;}
.foot_left .logo{margin-left:0px;}
.recent_news ul li img{width: 24%;}
.social_f ul li{ margin-right: 14px; width: 13%;}
.social_f img{ width: 100%;}
.footer h4{font-size: 18px;}
.test_video{ height: 369px;}
.bnr_txt > img{width:20%;}
.navigation{padding: 8px 0;}
.sech_date{width: 75%;}
.footer{padding: 47px 0 35px;}
.payment article{text-align:justify;}
.iner_title h2{font-size: 25px;padding: 10px 0;}
.test_writ{font-size: 12px;
    padding: 3px 7px;}
.test_video_btn{font-size: 12px;
    padding: 3px 7px;}
.galary ul li{margin-right: 8px;margin-bottom: 8px;}
.galary_opt ul li{margin-right: 10px;}
/*About Us*/
.about_us_page h5{font-size: 16px;line-height: 25px;}
.about_us_right article{text-align: justify;padding: 15px 0 0;}
.our_location article{text-align: justify;}
.about_us_left ul li{ width: 45%;margin-bottom: 10px; margin-right: 10px;}
.about_us_right{width: 55%;}
.our_mission article { padding: 0 17px 15px; text-align: justify;}
.our_faculty article{text-align: justify;}
.our_faculty ul li{margin-right: 10px;}
.our_mission h5{padding: 10px 0 10px 13px;}
.our_location h5{padding: 10px 0 10px 13px;}
.our_faculty ul li article{padding-top: 5px;
    text-align: center;font-size: 12px;}
.our_faculty ul li h4{font-size: 15px;padding: 8px 0;}
.blog_right h5{padding-top: 15px;font-size: 15px;line-height: 15px;}
.blog_right .more_info{ margin: 18px 0 15px;padding: 5px 10px;}
.blog_right article{font-size:13px; text-align:justify;padding-top: 10px;}
.cource_detail .corse_c article{font-size: 14px;}
.curriculum h4{font-size: 17px; padding: 18px 0;line-height: 20px;}
.cource_detail .corse_c{padding: 12px 0 12px 12px;}
.cource_detail .topic_c{width: 67%;padding: 12px;}
.cource_detail .topic_c ul li{ width: 80%;}
/*testimonials*/
.test_cont_left{width: 15.5%;}
.test_cont_right{width:74%;padding: 15px;}
.test_cont_right h5{font-size: 15px; line-height: 20px;}
.test_cont_right article{font-size: 13px; line-height: 19px; text-align: justify;}
.test_cont_right article span{font-size: 13px;}
.test_cont_right .left_arow {left: -15px;}
.test_cont_right_2nd .right_arow{right: -15px;}
.test_cont {margin-top: 30px;}
/*200 HourYogaTeacherTraining*/
.header_yoga_right h3{font-size: 16px; line-height: 15px; padding-bottom: 9px;}
.header_yoga_right article{font-size: 14px;}
.header_yoga_right article strong{ font-size: 14px;}
.header_yoga_left em{font-size: 25px; line-height: 25px;}
.header_yoga_left article{ font-size: 18px;padding: 0;}
.header_yoga_left{margin-left: 0%;}
.header_yoga_right .nav_btn{ font-size: 16px; padding: 5px 15px;}
.nav_yoga ul li{font-size: 13px; padding: 15px 10px;}
.save_yoga{ width: 10%;}
.yoga_baner_left{width:52.8%;}
.yoga_baner_right img{ width:81%;}
.yoga_contain h2{ font-size: 18px; line-height: 23px;}
.yoga_contain h3{  font-size: 20px;}
.sunday_ex ul li:nth-child(2) {margin: 0 20px;}
.upcoming_dates article{line-height: 15px; padding: 7px 0;font-size: 13px;}
.header_yoga_right span{font-size: 18px; line-height: 20px;}
.header_yoga_right article{ font-size: 14px;}
.header_yoga_right em{font-size: 18px;}
.yoga_baner_right{ height: 132px; overflow: scroll;width: 43.85%; padding: 5px 8px;}
.yoga_baner_right article{ line-height: 24px; padding-top: 0;}
.yoga_baner_right .more_info{margin: 15px 0;}
.schedule_text article{ font-size: 12px;}
.time_table_right{left: 304px;right: 0;top: 12px;}
.time_table_right > img {width:100%;}
.wednes_day .time_table .time_table_right{left: -104px; width: 94%;position: absolute;}
.wednes_day .time_table .time_table_right img{ width:35%;}
.months_right{ width: 49%;}
.schedule_text{ width: 55%;}
.header_yoga_right{  width: 57%;}
.schedule_text h4{font-size: 15px;}
.high_light ul li{margin-top: 10px; font-size: 13px;}
.students .high_light article{font-size: 13px;}
.sunday_ex article{ text-align: justify;}
.yoga_certified article{ text-align: justify;}
.yoga_certified article{ text-align: justify;}
.fee_schedule .row_1st td{width: 27.5%;font-size: 12px;padding: 5px !important;  line-height: 15px;}
.fee_schedule .row_2st td{width:27.5%;font-size: 12px;padding: 5px !important;  line-height: 15px;}
.fee_schedule h4{font-size: 20px; padding: 25px 0 20px;}

.galary img {
  margin: 3% 0;
  width: 100%;
}

.form-left {
  margin: 0;
  width: 100%;
}
.form-right {
  width: 100%;
}
.applynow input {
  width:97.6%;
}
select.phcode {
  width: 26%;
}
input.phnumber {
  width:71%;
}
.written-test-div iframe{width:100%;
}
.our_faculty ul.stafflist li {
  margin-right: 0;
  width: 100%;
}
h5.headingcustom strong {
font-size: 12px;
}
.yoga_heading .yttdiv {
  font-size: 25px;
  line-height: 30px;
}
.yoga_baner .wrapper {
  height: auto;
}
#second1 iframe {
  width: 100%;
}
.ladakh_img1 > img {
  width: 97%;
}
.fee_schedule.fee_schedule1 table {
  width: 100%;
}
.news_leter h5.headingcustom strong { font-size:15px;}
.iner_title h1 {padding: 10px 0;
  font-size: 25px;
}

.galary_opt .test_video_btn {
    font-size: 15px;
    margin: 5px 0 !important;
    padding: 4px 10px;
}


.yoga_training .click-here-div > a {
  font-size: 10px;
}
.click-here-div > a {
  padding: 8px 2px;font-size: 10px;
}

.simple-daily-schedule {
  width: 98%;
}
.yoga_training .simple-daily-schedule li {
  width: 81.2%;
}

.simple-daily-schedule-main {
}
.simple-daily-schedule-right {
  padding: 62px 0;
}

.sunday-listing.sunday-listing1 > li {
  width: 96%;
}

.sunday-listing > li {
  width: 100%;
}
.testimonials-inner {
  margin: 20px 0;
}

.testimonials-inner-right {
  padding: 20px 14px 20px 81px;
}

}

@media only screen and (max-width: 667px) and (min-width: 601px){

.wrapper{width:500px;}
.news_leter h5.headingcustom strong { font-size:15px;}
h1 strong{font-size: 16px;}
article{font-size:13px;}
.logo { margin-bottom: 12px; margin-left: 41%; width: 20.2%;}
.yoga_heading h2{font-size: 25px; line-height: 30px;}
.yoga_txt article{line-height: 24px;text-align: justify;}
.training li h4{font-size: 17px;}
.special_text {padding:15px 0 40px;}
.aliance h2 {
  font-size: 26px;
  line-height: 35px;
  padding-bottom: 12px;
}
.yoga_training article{padding: 30px 0 35px;}
.yoga_training ul li{width:60%;  margin: 0 19%;}
.yoga_training ul li:nth-child(2) { margin:5% 19%;}
.aliance h2{ font-size: 35px;line-height: 35px;padding-bottom: 51px;}
.aliance h2 em{font-size: 25px;}
.yoga_retreat ul li article { min-height: 108px;}
.yoga_training ul li .more{min-height: auto;}
.foot_left{ margin: 0 0 0 23%; width: 74%;}
.buy_now {margin-top: 29px;width: 34%;}
.recent_news{ margin: 5% 0 5% 23%; width: 59%;}
.follow_us {float: left;margin: 0 0 0 23%;width: 59%;}
.copyright article{width:80%;}
.copyright img{top: -68px;width: 11.5%;right: 178px;}
.news_leter form .name_news{ padding: 5px;  width: 33%; margin-right: 8px;}
.news_leter form .subscr{padding:6px 20px;}
.navigation li{float: left; margin: 5px;}
.navigation li a{ font-size: 13px;}
.bnr_txt h1{ font-size: 19px;}
.bnr_txt article{margin: 10px 0;font-size: 14px; line-height: 18px;}
.bnr_txt h2{margin: 10px 0;font-size: 14px; line-height: 18px;}
.bnr_txt span{font-size: 13px;}
.training img{margin: 0 15px 0 0;}
.training li{ padding:16px 15px;}
.training .more_info {
  font-size: 12px;
  padding: 7px 5px;
  width: 46px;
}
.yoga_training ul li h5{font-size: 17px;}
.testi_right ul li .right_testim h4{font-size: 18px;}
.bnr_txt{width: 92%;margin: 0 auto;}
.header_bg{padding: 12px 0 60px;}
.upcoming_cource{width:100%;}
.special_offer { width: 100%; margin-top: 50px;}
.aliance{padding:5px 0 5px;}
.testi_left{ width: 100%;margin-bottom: 50px;}
.testi_right{ width: 100%;}
.news_leter form {padding: 53px 0 0;}
.foot_left .logo{margin-left:0px;}
.recent_news ul li img{width: 24%;}
.social_f ul li{ margin-right: 14px; width: 13%;}
.social_f img{ width: 100%;}
.footer h4{font-size: 18px;}
.test_video{ height: 369px;}
.bnr_txt > img{width:20%;}
.navigation{padding: 8px 0;}
.sech_date{width: 62%;}
.footer{padding: 47px 0 35px;}
.payment article{text-align:justify;}
.iner_title h2{font-size: 25px;padding: 10px 0;}
.test_writ{font-size: 12px;
    padding: 3px 7px;}
.test_video_btn{font-size: 12px;
    padding: 3px 7px;}
.galary ul li{margin-right: 8px;margin-bottom: 8px;}
.galary_opt ul li{margin-right: 10px;}
/*About Us*/
.about_us_page h5{font-size: 16px;line-height: 25px;}
.about_us_right article{text-align: justify;padding: 15px 0 0;}
.our_location article{text-align: justify;}
.about_us_left ul li{ width: 45%;margin-bottom: 10px; margin-right: 10px;}
.about_us_right{width: 55%;}
.our_mission article { padding: 0 17px 15px; text-align: justify;}
.our_faculty article{text-align: justify;}
.our_faculty ul li{margin-right: 10px;}
.our_mission h5{padding: 10px 0 10px 13px;}
.our_location h5{padding: 10px 0 10px 13px;}
.our_faculty ul li article{padding-top: 5px;
    text-align: center;font-size: 12px;}
.our_faculty ul li h4{font-size: 15px;padding: 8px 0;}
.blog_right h5{padding-top: 15px;font-size: 15px;line-height: 15px;}
.blog_right .more_info{ margin: 18px 0 15px;padding: 5px 10px;}
.blog_right article{font-size:13px; text-align:justify;padding-top: 10px;}
.cource_detail .corse_c article{font-size: 14px;}
.curriculum h4{font-size: 17px; padding: 18px 0;line-height: 20px;}
.cource_detail .corse_c{padding: 12px 0 12px 12px;}
.cource_detail .topic_c{width: 67%;padding: 12px;}
.cource_detail .topic_c ul li{ width: 80%;}
/*testimonials*/
.test_cont_left{width: 15.5%;}
.test_cont_right{width:74%;padding: 15px;}
.test_cont_right h5{font-size: 15px; line-height: 20px;}
.test_cont_right article{font-size: 13px; line-height: 19px; text-align: justify;}
.test_cont_right article span{font-size: 13px;}
.test_cont_right .left_arow {left: -15px;}
.test_cont_right_2nd .right_arow{right: -15px;}
.test_cont {margin-top: 30px;}
/*200 HourYogaTeacherTraining*/
.header_yoga_right h3{font-size: 10px; line-height: 15px; padding-bottom: 9px;}
.header_yoga_right article{font-size: 14px;}
.header_yoga_right article strong{ font-size: 12px;}
.header_yoga_left em{font-size:16px; line-height: 25px;}
span.discountdiv{font-size:12px;}
.header_yoga_left article{ font-size: 8px;padding: 0;}
.header_yoga_left{margin-left: 0%;}
.nav_yoga ul li {
  font-size: 7px;
  padding: 15px 4px;
}
.nav_yoga ul li {
  font-size: 7px;
  padding: 12px 3px;
}
.save_yoga{ width: 10%;}
.yoga_baner_left{width:100%;}
.yoga_baner_right img{ width:81%;}
.yoga_contain h2{ font-size: 18px; line-height: 23px;}
.yoga_contain h3{  font-size: 20px;}
.sunday_ex ul li:nth-child(2) {margin: 0 20px;}
.upcoming_dates article{line-height: 15px; padding: 7px 0;font-size: 13px;}
.header_yoga_right span{font-size: 8px; line-height: 20px;}
.header_yoga_right article{ font-size:8px;}
.header_yoga_right em{font-size: 18px;}
.yoga_baner_right{width:94%; padding: 5px 8px;}
.yoga_baner_right article{ line-height: 24px; padding-top: 0;}
.yoga_baner_right .more_info{margin: 15px 0;}
.schedule_text article{ font-size: 12px;}
.time_table_right{left: 304px;right: 0;top: 12px;}
.time_table_right > img {width:100%;}
.wednes_day .time_table .time_table_right{left: -104px; width: 94%;position: absolute;}
.wednes_day .time_table .time_table_right img{ width:35%;}
.months_right{ width:74%;}
.schedule_text{ width: 55%;}
.header_yoga_right{  width: 57%;}
.schedule_text h4{font-size: 15px;}
.high_light ul li{margin-top: 10px; font-size: 13px;}
.students .high_light article{font-size: 13px;}
.sunday_ex article{ text-align: justify;}
.yoga_certified article{ text-align: justify;}
.fee_schedule .row_1st td{width: 27.5%;font-size: 12px;padding: 5px !important;  line-height: 15px;}
.fee_schedule .row_2st td{width:27.5%;font-size: 12px;padding: 5px !important;  line-height: 15px;}
.fee_schedule h4{font-size: 20px; padding: 25px 0 20px;}

.form-left {
  margin: 0;
  width: 100%;
}
.form-right {
  width: 100%;
}
.applynow input {
  width:97.6%;
}
select.phcode {
  width: 26%;
}
input.phnumber {
  width:71%;
}

.our_faculty ul.stafflist li {
  margin-right: 0;
  width: 100%;
}

.yoga_baner_left img {
  width: 100%;
}
.yoga_baner .wrapper {
  height: auto;
}
.iner_title h1 {padding: 10px 0;
  font-size: 25px;
}
#second1 iframe {
  width: 100%;
}
.galary_opt .test_video_btn {
    font-size: 15px;
    margin: 5px 0 !important;
    padding: 4px 10px;
}


.nav1 ul li {
  width:20%;
}
.nav1 ul{margin-bottom:0px;}
.nav1 ul{padding-top:2px;}
.header_yoga_right .nav_btn {
  font-size: 8px;  padding: 2px 12px;
}
}

@media only screen and (max-width: 800px) and (min-width: 668px){ 
.galary_opt.faq .test_video_btn {
  font-size: 12px;
  padding: 3px 8px;
}
.galary_opt.faq.faqall {
  margin: 41px 0 0;
}
.wrapper{width:640px;}
h1 strong{font-size: 18px;}

.logo { margin-left: 44%; width: 14.2%;}
.yoga_heading h2{font-size: 33px; line-height: 33px;}
.yoga_txt article{line-height: 24px;}
.training li h4{font-size: 17px;}
.special_text {padding: 25px 0 75px;}
.yoga_training h2{font-size: 32px; line-height: 50px; padding:0px;}
.yoga_training article{padding: 30px 0 35px;}
.yoga_training ul li{width: 32%;}
.yoga_training ul li:nth-child(2) { margin: 0 10px;}
.aliance h2 {
  font-size: 25px;
  line-height: 35px;
  padding-bottom: 30px;
}
.aliance h2 em{font-size: 22px;}
h5.headingcustom strong {
  font-size: 18px;
}
.yoga_retreat ul li article { min-height: 108px;}
.yoga_training ul li .more{min-height: auto;}
.foot_left{margin-right:5%;width: 27%;}
.recent_news{width: 36%;}
.copyright article{width:64%;}
.copyright img{top: -68px;width: 11.5%;right: 178px;}
.news_leter form .name_news{ padding: 10px;  width: 36%; margin-right: 8px;}
.news_leter form .subscr{padding: 11px 34px;}
.navigation li{margin: 0 0 0 6px;}
.navigation li a{ font-size: 13px;}
.bnr_txt h1{ font-size: 28px;}
.bnr_txt article{margin: 10px 0;font-size: 15px;}
.bnr_txt h2{margin: 10px 0;font-size: 15px;}
.bnr_txt span{font-size: 14px;}
.training img{margin: 0 15px 0 0;}
.training li{}
.yoga_training ul li h5{font-size: 17px;}
.testi_right ul li .right_testim h4{font-size: 18px;}
.bnr_txt{width: 92%;}
.header_bg{padding: 12px 0 126px;}
.upcoming_cource{width:100%;}
.special_offer { width: 100%;}
.aliance{padding: 20px 0 25px;}
.testi_left{ width: 100%;margin-bottom: 50px;}
.testi_right{ width: 100%;}
.news_leter form {padding: 53px 0 0;}
.news_leter form .name_news{width: 33%;}
.foot_left .logo{margin-left:0px;}
.recent_news ul li img{width: 24%;}
.social_f ul li{margin-right: 5px;
    width: 12%;}
.social_f img{ width: 100%;}
.footer h4{font-size: 18px;}
.test_video{ height: 369px;}
.sech_date{}
.special_offer {
  margin-top: 64px;
}
.yoga_heading .yttdiv {
  font-size: 32px;
  line-height: 34px;
}
.iner_title h2{font-size: 30px; padding: 15px 0;}
.test_writ{font-size: 14px;padding: 5px 15px;}
.test_video_btn{font-size: 14px;padding: 5px 15px;}
.galary ul li{margin-right: 11px;margin-bottom: 11px;}
.galary_opt ul li{margin-right: 10px;}
/*About Us*/
.about_us_page h5{font-size: 20px;line-height: 25px;}
.about_us_right article{text-align: justify;padding: 15px 0 0;}
.our_location article{text-align: justify;}
.about_us_left ul li{ width: 45%;}
.about_us_right{width: 55%;}
.our_mission article { padding: 0 17px 15px;}
.our_faculty ul li{margin-right: 12px;}
.our_mission h5{padding: 10px 0 10px 13px;}
.our_location h5{padding: 10px 0 10px 13px;}
.blog_right h5{padding-top: 15px;font-size: 15px;line-height: 15px;}
.blog_right .more_info{ margin: 18px 0 15px;padding: 5px 10px;}
.blog_right article{font-size:13px; text-align:justify;padding-top: 10px;}
.cource_detail .corse_c article{font-size: 14px;}
.curriculum h4{font-size: 17px; padding: 18px 0;line-height: 20px;}
.cource_detail .corse_c{padding: 12px 0 12px 12px;}
.cource_detail .topic_c{width: 67%;padding: 12px;}
/*testimonials*/
.test_cont_right{width: 83%;padding: 15px;}
.test_cont_right h5{font-size: 15px; line-height: 20px;}
.test_cont_right article{font-size: 13px; line-height: 19px; text-align: justify;}
.test_cont_right article span{font-size: 13px;}
.test_cont_right .left_arow {left: -15px;}
.test_cont_right_2nd .right_arow{right: -15px;}
/*200 HourYogaTeacherTraining*/
.header_yoga_right h3{font-size: 12px; line-height: 15px; padding-bottom: 9px;}
.header_yoga_right article{font-size: 14px;}
.header_yoga_right article strong{ font-size: 14px;}
.header_yoga_left em{font-size: 25px; line-height: 25px;}
.header_yoga_left article{ font-size:8px;padding: 0;}
.header_yoga_left{margin-left:0px; width:25%;}
.header_yoga_right .nav_btn{ font-size: 16px; padding: 5px 15px;}
.nav_yoga ul li {
  font-size: 14px;
  padding:9px 14px;
}
.iner_title h1{font-size:26px;}
.nav1 ul {
  float: left;
  text-align: left;
}
.save_yoga{ width: 10%;}
.yoga_baner_left{width:53.4%;}
.yoga_baner_right img{ width:81%;}
.yoga_contain h2{ font-size: 18px; line-height: 23px;}
.yoga_contain h3{  font-size: 20px;}
.sunday_ex ul li:nth-child(2) {margin: 0 26px;}
.upcoming_dates article{line-height: 15px; padding: 7px 0;font-size: 14px;}
.header_yoga_right span{font-size: 18px; line-height: 20px;}
.header_yoga_right article{ font-size: 8px;}
.header_yoga_right em{font-size: 18px;}
.yoga_baner_right{ height: 182px; overflow: scroll;width: 43.85%; padding: 5px 8px;}
.yoga_baner_right article{ line-height: 24px; padding-top: 0;}
.yoga_baner_right .more_info{margin: 15px 0;}
.schedule_text article{ font-size: 16px;}
.time_table_right{ left: 348px;right: 0; top: 0;}
.time_table_right > img {width:100%;}
.wednes_day .time_table .time_table_right{left: -104px; width: 94%;position: absolute;}
.wednes_day .time_table .time_table_right img{ width:35%;}
.months_right{ width: 49%;}
.schedule_text{ width: 55%;}
.fee_schedule .row_1st td{width: 27.5%;font-size: 12px;padding: 5px !important;}
.fee_schedule .row_2st td{width:27.5%;font-size: 12px;padding: 5px !important;}
.fee_schedule h4{font-size: 23px;}

.applynow input {
  width: 95.5%;
}
input.phnumber {
  width: 69%;
}
select.phcode {
  width: 26%;
}
.our_faculty ul.stafflist li {
  width: 28.5%;
}
.yoga_baner .wrapper{
  height: 192px;
}
#second1 iframe {
  height: auto;
  width: 31.9%;
}

.galary_opt .test_video_btn {
    font-size: 15px;
    margin: 5px 0 !important;
    padding: 4px 10px;
}

.yoga_training .click-here-div > a {
  font-size: 16px;
}

.simple-daily-schedule {
  padding: 0 0 62px;
  width: 61%;
}

.yoga_training .simple-daily-schedule li {
  margin: 0 !important;
  padding: 6px 30px;
  width: 34.6%;  font-size: 10px;
}
.simple-daily-schedule-right {
  width: 37%;
}
.sunday-listing > li {
  margin-right: 14px;
}
.sunday-listing > li p {
  font-size: 15px;
}
.sunday-listing > li p {
  font-size: 12px;
}
.testimonials-inner {
  margin: 20px;
}
.month-listing {
  margin: 0 20px;
}
.month-listing a {
  font-size: 18px;
  padding: 4px 24px;
}
}

@media only screen and (max-width: 962px) and (min-width: 801px){

.wrapper{width:780px;}
h1 strong{font-size: 18px;}
.yoga_heading h2{font-size: 40px; line-height: 45px;}
.yoga_txt article{line-height: 24px;}
.training li h4{font-size: 17px;}
.special_text {padding: 25px 0 75px;}
.yoga_training h2{font-size: 32px; line-height: 50px;}
.yoga_training ul li:nth-child(2) { margin: 0 36px;}
.aliance h2 {
  font-size: 32px;
  line-height: 35px;
}
.aliance h2 em{font-size: 30px;}
.yoga_retreat ul li article { min-height: 80px;}
.yoga_training ul li .more{min-height: auto;}
.foot_left{margin-right:8%;}
.recent_news{width: 36%;}
.copyright article{width:43%;}
.copyright img{top: -68px;width: 11.5%;right: 178px;}
.news_leter form .name_news{ padding: 10px;  width: 32%; margin-right: 8px;}
.news_leter form .subscr{padding: 11px 34px;}
.navigation li{margin: 0 0 0 8px;}
.navigation li a{ font-size: 15px;}
.bnr_txt h1{ font-size: 28px;}
.bnr_txt article{margin: 10px 0;font-size: 15px;}
.bnr_txt h2{margin: 10px 0;font-size: 15px;}
.bnr_txt span{font-size: 14px;}
.training img{margin: 0 15px 0 0;}
.training li{ padding:16px 12px;}
.yoga_training ul li h5{font-size: 17px;}
.testi_right ul li .right_testim h4{font-size: 18px;}
.sech_date{width:53%;}
.iner_title h2{font-size: 30px; padding: 15px 0;}
.test_writ{font-size: 15px;padding: 5px 20px;}
.test_video_btn{font-size: 15px;padding: 5px 20px;}
.galary ul li{margin-right: 16px;margin-bottom: 16px;}
.about_us_page h5{font-size: 22px;}
.about_us_right article{text-align: justify;}
.our_location article{text-align: justify;}
.blog_right h5{padding-top: 15px;}
.blog_right .more_info{ margin: 18px 0 15px;}
.cource_detail .corse_c article{font-size: 14px;}
.curriculum h4{font-size: 20px; padding: 25px 0;}
.cource_detail .corse_c{padding: 12px 0 12px 12px;}
.cource_detail .topic_c{width: 67%;padding: 12px;}
/*testimonials*/
.test_cont_right{width: 83%;padding: 15px;}
.test_cont_right .left_arow {left: -15px;}
.test_cont_right_2nd .right_arow{right: -15px;}
/*200 HourYogaTeacherTraining*/
.header_yoga_right h3{font-size: 17px; line-height: 15px; padding-bottom: 9px;}
.header_yoga_right article{font-size: 14px;}
.header_yoga_right article strong{ font-size: 14px;}
.header_yoga_left em{font-size: 25px; line-height: 25px;}
.header_yoga_left article{ font-size: 18px;padding: 0;}
.header_yoga_left{margin-left: 9%;}
.header_yoga_right .nav_btn{font-size: 18px;  padding: 9px 25px;}
.nav_yoga ul li{font-size: 16px;padding: 15px 45px;}
.save_yoga{ width: 10%;}
.yoga_baner_left{width:68.4%;}
.yoga_baner_right img{ width:81%;}
.yoga_contain h2{font-size: 22px;line-height: 28px;}
.yoga_contain h3{  font-size: 20px;}
.sunday_ex ul li:nth-child(2) {margin: 0 38px;}
.upcoming_dates article{line-height: 15px; padding: 7px 0;font-size: 14px;}
.header_yoga_right span{font-size: 18px; line-height: 20px;}
.header_yoga_right article{ font-size: 14px;}
.header_yoga_right em{font-size: 18px;}
.yoga_baner_right{padding: 5px 8px;}
.yoga_baner_right article{ line-height: 21px; padding-top: 0;}
.yoga_baner_right .more_info{margin:2px 0 10px;}
.schedule_text article{ font-size: 16px;}
.time_table_right{ left: 348px;right: 0; top: 0;}
.time_table_right > img {width:100%;}
.wednes_day .time_table .time_table_right{left: 47px; width: 94%;position: absolute;}
.wednes_day .time_table .time_table_right img{ width:26%;position: absolute;}
.fee_schedule .row_1st td{width: 27.5%;font-size: 14px;padding-bottom: 5px; padding-top: 5px;}
.fee_schedule .row_2st td{width:27.5%;font-size: 14px;padding-bottom: 5px;padding-top: 5px;}
.fee_schedule h4{font-size: 23px;}

.our_faculty ul.stafflist li {
  width: 28.5%;
}

.yoga_txt {
  width: 64%;
}
.training .more_info {
  font-size: 14px;
  padding: 7px 5px;
  width: 60px;
}
.newdiv {
  width: 100% !important;
}
.training li h5 {
  margin: 2px 0 0;
}
.social_f ul li {
  margin-right: 1px;
}
.yoga_baner .wrapper {
  height: 300px;
}
.yoga_baner_right h4 {
  font-size: 14px;
  padding-bottom: 2px;
}
}

@media only screen and (max-width: 1067px) and (min-width: 963px){

.wrapper{width:940px;}
h1 strong{font-size: 18px;}
.yoga_heading h2{font-size: 40px; line-height: 45px;}
.yoga_txt article{line-height: 24px;}
.training li h4{font-size: 17px;}
.special_text {padding: 25px 0 75px;}
.yoga_training h2{font-size: 32px; line-height: 50px;}
.yoga_training ul li:nth-child(2) { margin: 0 44px;}
.aliance h2 {
  font-size: 30px;
  line-height: 40px;
}
.aliance h2 em{font-size: 30px;}
.yoga_retreat ul li article { min-height: 80px;}
.yoga_training ul li .more{min-height: auto;}
.foot_left{margin-right:8%;}
.recent_news{width: 36%;}
.copyright article{width:43%;}
.copyright img{top: -68px;width: 11.5%;right: 178px;}
.news_leter form .name_news{ padding: 10px;  width: 36%; margin-right: 8px;}
.news_leter form .subscr{padding: 11px 34px;}
.navigation li{margin: 0 0 0 8px;}
.navigation li a{ font-size: 15px;}
.bnr_txt h1{ font-size: 28px;}
.bnr_txt article{margin: 10px 0;font-size: 15px;}
.bnr_txt h2{margin: 10px 0;font-size: 15px;}
.bnr_txt h2{margin: 10px 0;font-size: 15px;}
.bnr_txt span{font-size: 14px;}
.training img{margin: 0 15px 0 0;}
.training li{ padding: 16px;}
.training .more_info {
  font-size: 14px;
  padding: 7px 5px;
  width: 65px;
}
.yoga_training ul li h5{font-size: 17px;}
.testi_right ul li .right_testim h4{font-size: 18px;}
.sech_date{width:60%;}
.iner_title h2{font-size: 30px; padding: 15px 0;}
.test_writ{font-size: 15px;padding: 5px 20px;}
.test_video_btn{font-size: 15px;padding: 5px 20px;}
.galary ul li{margin-right: 16px;margin-bottom: 16px;}
.about_us_page h5{font-size: 22px;}
.about_us_right article{text-align: justify;}
.our_location article{text-align: justify;}
.blog_right h5{padding-top: 15px;}
.blog_right .more_info{ margin: 18px 0 15px;}
.cource_detail .corse_c article{font-size: 14px;}
.curriculum h4{font-size: 20px; padding: 25px 0;}
.cource_detail .corse_c{padding: 12px 0 12px 12px;}
.cource_detail .topic_c{width: 67%;padding: 12px;}
/*testimonials*/
.test_cont_right{width: 83%;padding: 15px;}
.test_cont_right .left_arow {left: -15px;}
.test_cont_right_2nd .right_arow{right: -15px;}
/*200 HourYogaTeacherTraining*/
.header_yoga_right h3{font-size: 17px; line-height: 15px; padding-bottom: 9px;}
.header_yoga_right article{font-size: 14px;}
.header_yoga_right article strong{ font-size: 14px;}
.header_yoga_left em{font-size: 25px; line-height: 25px;}
.header_yoga_left article{ font-size: 12px;padding: 0;}

.header_yoga_left{margin-left: 9%;}
.header_yoga_right .nav_btn{font-size: 18px;  padding: 9px 25px;}
.nav_yoga ul li{font-size: 15px;padding:8px 45px 2px;}
.save_yoga{ width: 10%;}
.yoga_baner_left{width:69.4%;}
.yoga_baner_right img{ width:81%;}
.yoga_contain h2{font-size: 22px;line-height: 28px;}
.yoga_contain h3{  font-size: 20px;}
.sunday_ex ul li:nth-child(2) {margin: 0 38px;}
.upcoming_dates article{line-height: 15px; padding: 7px 0;font-size: 14px;}
.header_yoga_right span{font-size: 18px; line-height: 20px;}
.header_yoga_right article{ font-size: 14px;}
.header_yoga_right em{font-size: 18px;}
.yoga_baner_right{padding: 5px 8px;}
.yoga_baner_right article{ line-height: 24px; padding-top: 0;}
.yoga_baner_right .more_info{margin: 15px 0;}
.schedule_text article{ font-size: 16px;}
.time_table_right{ top: 0; right: -103px;}
.time_table_right > img {width:83%;left: -110px;right: 0;}
.wednes_day .time_table .time_table_right{left: 47px; width: 94%;position: absolute;}
.wednes_day .time_table .time_table_right img{ width:26%;position: absolute;}
.fee_schedule .row_1st td{width: 27.5%;font-size: 14px;padding-bottom: 5px; padding-top: 5px;}
.fee_schedule .row_2st td{width:27.5%;font-size: 14px;padding-bottom: 5px;padding-top: 5px;}
.fee_schedule h4{font-size: 23px;}

.our_faculty ul.stafflist li {
  width: 28.5%;
}
.time_table{width:90%;}

.yoga_txt {
  width: 70%;
}

.social_f ul li {
  margin-right: 6px;
}
.yoga_baner .wrapper{
  height:365px;
}
.applynow input {
  width: 96%;
}
input.phnumber {
  width: 76%;
}
.galary_opt .test_video_btn {
  font-size: 15px;
  padding: 15px 10px;
}
.yoga_training .simple-daily-schedule li {
  font-size: 12px;
  width: 37.4%;
}
.simple-daily-schedule-right {
  width: 46%;
}
.sunday-listing.sunday-listing1 > li {
  width: 21%;
}
.sunday-listing > li {
  width: 29.8%;
}
.month-listing {
  margin: 0 115px;
}
}

